@use "sass:color";

@mixin alert-variant($value) {
    $border-color: color.adjust($value, $lightness: -7.5%);

    @if $color-scheme == "dark" {
        $border-color: color.adjust($value, $lightness: -10%);
    }

    color: contrast-color($value, #000, #fff);

    @if $theme == "default" {
        @if $color-scheme == "dark" {
            $border: if(
                $value == $secondary,
                color.mix(white, $value, 40%),
                color.mix(white, $value, 20%)
            );

            color: $value;
            background-color: color.mix(black, $value, 80%);
            border: 1px solid $border-color;
        } @else {
            $border: if(
                $value == $secondary,
                $value,
                color.mix(white, $value, 60%)
            );

            color: color.mix(black, $value, 50%);
            background-color: color.mix(white, $value, 80%);
            border: 1px solid $border;
        }
    } @else {
        background-color: $value;
    }

    a {
        text-decoration: underline;
        color: inherit;
        opacity: 0.7;
    }
}

.alert {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: 1px solid #0000;
    border-radius: 4px;
    margin-bottom: 1em;
    gap: 0.75em;

    @each $color, $value in $color-map {
        &.#{$color} {
            @include alert-variant($value);
        }
    }

    @if $theme == "default" {
        background-repeat: repeat-x;
    }

    &.full-screen {
        margin: 0;
        border-radius: 0;

        .alert-text {
            margin: auto;
        }
    }
}