@use 'config' as *;
@use "variables";

@use "sass:color";

@mixin alert-variant($value) {
    @if $color-scheme == "dark" {
        $border: color.adjust($value, $lightness: -10%);

        color: $value;
        background-color: color.mix(black, $value, 75%);
        border: 1px solid $border;
    } @else {
        $border: if(
            $value == variables.$secondary,
            $value,
            color.mix(white, $value, 50%)
        );

        color: color.mix(black, $value, 50%);
        background-color: color.mix(white, $value, 80%);
        border: 1px solid $border;
    }

    a {
        color: inherit;
        opacity: 0.7;
        text-decoration: underline;
    }
}

.alert {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: 1px solid #0000;
    border-radius: 4px;
    margin-bottom: 1em;
    gap: 0.75em;

    @each $color, $value in variables.$color-map {
        &.#{$color} {
            @include alert-variant($value);
        }
    }

    @if $theme == "default" {
        background-repeat: repeat-x;
    }

    &.full-screen {
        margin: 0;
        border-radius: 0;

        .alert-text {
            margin: auto;
        }
    }
}