.footer {
    margin: 1em 0;
    line-height: 1.35rem;

    .footer-container {
        .footer-powered-by {
            font-size: 1em;
        }

        .footer-links {
            display: inline-flex;
            justify-content: center;
            column-gap: 0.5em;
            flex-wrap: wrap;

            font-size: 0.9em;
        }

        .footer-copyright {
            font-size: 0.9em;
            opacity: 50%;
        }

        @if $color-scheme == "dark" {
            color: white;
        }

        @else {
            color: #333;
        }

        margin: auto;
        text-align: center;
    }
}