textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    border: 1px solid $form-border-color;
    background-color: $form-bg-color;
    color: $form-text-color;
    transition: border-color linear 0.3s, box-shadow linear 0.3s;
    border-radius: 6px;
    padding: 0.5rem;
    font-family: $font;

    @if $theme == "default" {
        box-shadow: inset 0 1px 1px rgba(black, 0.075);
    }

    &:focus {
        border-color: var(--link-color);
        outline: none;

        @if $theme == "default" {
            box-shadow: inset 0 1px 1px rgba(black, 0.075), 0 0 4px var(--link-color);
        }
    }
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form-input {
    &:has(> input[type="checkbox"]) {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    margin-bottom: 1em;

    label {
        display: flex;
        column-gap: 0.333em;
        flex-wrap: wrap;

        span {
            opacity: 50%;
        }
    }
}

.form-submit {
    width: 100%;
}

.form-button-container {
    flex-grow: 1;
    text-align: right;
}

.form-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.edit-page {
        width: 100%;
        max-width: 240px;
    }
}

.form-flex {
    display: flex;
    gap: 0.25em;
    align-items: center;
}