textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    border: 1px solid $form-border-color;
    background-color: $form-bg-color;
    color: $form-text-color;
    transition: border-color linear 0.1s, box-shadow linear 0.2s;
    border-radius: 4px;
    padding: 0.5em;
    font-family: $font;

    @if $theme == "default" {
        box-shadow: inset 0 1px 1px rgba(black, 0.075);
    }

    &:focus {
        border-color: var(--link-color);
        outline: none;

        @if $theme == "default" {
            box-shadow: inset 0 1px 1px rgba(black, 0.075), 0 0 4px var(--link-color);
        }
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 16px;
    height: 16px;

    background-color: $form-bg-color;
    border: 1px solid $form-border-color;
    border-radius: 0;

    box-shadow: inset 0 0 1px rgba(0,0,0,.05);

    cursor: pointer;
    position: relative;

    &:hover {
        border-color: #b9b9b9;
    }

    &:checked {
        border-color: $accent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 8l3 3 5-6' stroke='%23555' stroke-width='2' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
    }
}

$select-background-color: linear-gradient(to bottom, 
    $content-box-background-color 0, 
    color.adjust($content-box-background-color, $lightness: -5%) 100%
);
$select-border-color: color.adjust($content-box-border-color, $lightness: -7.5%);
$select-border-color-hover: color.adjust($content-box-border-color, $lightness: -20%);

@if $color-scheme == "dark" {
    $select-background-color: linear-gradient(to bottom, 
        color.adjust($content-box-background-color, $lightness: 5%) 0, 
        $content-box-background-color 100%
    );
    $select-border-color: color.adjust($content-box-border-color, $lightness: 7.5%);
    $select-border-color-hover: color.adjust($content-box-border-color, $lightness: 20%);
}

@if $theme == "flat" {
    $select-background-color: $content-box-background-color;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    @if $theme == "flat" {
        background:
            linear-gradient(45deg, transparent 50%, $text-color 50%),
            linear-gradient(-45deg, transparent 50%, $text-color 50%),
            $content-box-background-color;
    } @else {
        background:
            linear-gradient(45deg, transparent 50%, $text-color 50%),
            linear-gradient(-45deg, transparent 50%, $text-color 50%),
            $select-background-color $content-box-background-color;
    }

    background-size:
        4px 4px,
        4px 4px,
        100% 100%;
    background-repeat: no-repeat;
    background-position:
        right 14px top 13px,
        right 10px top 13px,
        0 0;
    
    border: 1px solid $select-border-color;
    border-radius: 4px;
    padding: 0 1.25em 0 0.75em;
    height: 32px;
    font: inherit;
    color: inherit;
    font-size: $font-size-normal;
    cursor: pointer;

    &:hover {
        border-color: $select-border-color-hover;
    }
}

.form-input {
    &:has(> input[type="checkbox"]) {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    margin-bottom: 1em;

    label {
        display: flex;
        column-gap: 0.333em;
        flex-wrap: wrap;

        span {
            opacity: 50%;
        }
    }
}

.form-submit {
    width: 100%;
}

.form-button-container {
    flex-grow: 1;
    text-align: right;
}

.form-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.edit-page {
        width: 100%;
        max-width: 240px;
    }
}

.form-flex {
    display: flex;
    gap: 0.25em;
    align-items: center;
}