// from https://gist.github.com/wiegertschouten/443f7e061d1fc656b229ac4b5b0faece

$columns: 12;
$gap: 1em;

@mixin create-selectors($breakpoint: null) {
    $infix: if($breakpoint ==null, '', '-#{$breakpoint}');

    @for $i from 1 through $columns {
        .col#{$infix}-#{$i} {
            grid-column-end: span $i;
        }

        .col-offset#{$infix}-#{$i} {
            grid-column-start: $i + 1;
        }

        .row#{$infix}-#{$i} {
            grid-row-end: span $i;
        }

        .row-offset#{$infix}-#{$i} {
            grid-row-start: $i + 1;
        }
    }
}

.grid {
    @include responsive('small') {
        display: block;
    }

    @include responsive('medium') {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
        gap: $gap;
    }

    &.no-gap {
        gap: 0;
    }

    &.center {
        align-items: center;
    }
}

@include create-selectors;

@each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
        @include create-selectors($breakpoint);
    }
}

.cluster {
    border: 1px solid $content-box-border-color;
    background: $content-box-border-color;
    gap: 1px;

    >div {
        background: $content-box-background-color;
        padding: $content-box-padding;
    }

    .content-box {
        background: none;
        border: none;
        padding: 0;
    }
}