@use 'config' as *;

@use "mixins/responsiveness";
@use "variables";

@mixin header-button-hover {
  @if $theme == "default" {
    background: rgba(white, 0.075);
    box-shadow: 0 6px 10px rgba(black, 0.25) inset;
  } @else {
    background: variables.$header-link-hover;
  }
}

@mixin header-button-active {
  @if $theme == "default" {
    background: rgba(white, 0.025);
    box-shadow: 0 6px 10px rgba(black, 0.6) inset;
  } @else {
    background: variables.$header-link-active;
  }
}

.header {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include responsiveness.responsive('tiny') {
            margin: 0 1rem;
            width: 100%;
        }

        @include responsiveness.responsive('small') {
            margin: 0 1rem;
            width: 100%;
        }

        @include responsiveness.responsive('medium') {
            margin: auto;
            @include responsiveness.maxwidths();
        }

        .header-hidden-links {
            margin-right: 0.5em;

            @include responsiveness.responsive('tiny') {
                display: none;
            }

            @include responsiveness.responsive('small') {
                display: none;
            }

            @include responsiveness.responsive('medium') {
                display: flex;
            }
        }
    }

    position: sticky;
    top: 0;
    z-index: 2000;

    width: 100%;

    background: variables.$header-background;
    border-bottom: 1px solid variables.$header-border;

    color: variables.$header-color;

    height: variables.$header-height;
    display: flex;

    @if $theme == "default" {
        box-shadow: 0 1px 10px rgba(black, 0.1);
    }
}

.header-main-links {
    gap: 1em;
    align-items: center;

    @include responsiveness.responsive('tiny') {
        display: none;
    }

    @include responsiveness.responsive('small') {
        display: none;
    }

    @include responsiveness.responsive('medium') {
        display: flex;
    }
}

.header-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-links {
    display: flex;
    align-items: center;

    a:not(.menu-item-button):not(.menu a) {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: variables.$header-color;
        opacity: variables.$header-link-inactive-opacity;
        height: variables.$header-height;
        padding: 0 0.5em;

        @if $color-scheme == "dark" {
            text-shadow: 0 1px 0 rgba(black, 0.25);
        }

        &:hover {
            @include header-button-hover;
            text-decoration: none;
        }

        &:active {
            @include header-button-active;
            text-decoration: none;
        }
    }

    .header-menu-container {
        direction: rtl;

        [dir="rtl"] & {
            direction: ltr;
        }

        .menu-button {
            height: variables.$header-height;
            padding: 0 8px;
            direction: ltr;
            display: flex;
            align-items: center;

            .icon:not(.menu-caret) {
                width: 24px;
                height: 24px;
                background-size: 24px;
            }

            &:hover,
            &.selected {
                cursor: pointer;
            }

            &:hover {
                @include header-button-hover;
            }

            &:active,
            &.selected {
                @include header-button-active;
            }

            .user-menu-pfp {
                width: variables.$header-pfp-width;
                height: variables.$header-pfp-width;
            }

            .user-menu-caret-container {
                display: inline-block;
                opacity: variables.$header-link-inactive-opacity;
                width: 16px;
                height: 16px;
            }

            .menu-button-text {
                display: inline;
            }

            svg.icon, .menu-button-text {
                opacity: variables.$header-link-inactive-opacity;
            }

            .have-an-account {
                @include responsiveness.responsive('tiny') {
                    display: none;
                }

                @include responsiveness.responsive('small') {
                    display: inline;
                }

                @include responsiveness.responsive('medium') {
                    display: inline;
                }
            }
        }
    }
}

.header-logo {
    margin-right: 0.666667rem;

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0.666667rem;
    }

    a {
        display: block;
        height: variables.$header-logo-height;

        &:focus {
            outline: none;
        }
    }

    .logo {
        height: variables.$header-logo-height;
    }
}

.header-search {
    position: relative;
    display: none;

    #header-search-button {
        position: absolute;
        right: 0;
        top: 1px;
        /* stupid hack */

        [dir="rtl"] & {
            right: auto;
            left: 0;
        }

        background: none;
        border: none;

        @if $theme == "default" or $color-scheme == "dark" {
            color: white;
        }

        .icon.search {
            width: 16px;
            height: 16px;
            background-size: 16px;
        }

        height: 32px;
        width: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    #header-search-input {
        padding: 6px 10px;
        height: 32px;

        @if $theme == "default" {
            border-radius: 16px;
            transition: border 0.1s ease-in-out;
            border: 1px solid black;
            color: #eee;
            background: #5A5A5A;
            box-shadow: 0 1px 0 #333;
        }

        &:focus {
            border-color: var(--link-color);
        }
    }

    @include responsiveness.responsive('tiny') {
        display: block;
        width: 120px;

        #header-search-input {
            width: 120px;
        }
    }

    @include responsiveness.responsive('small') {
        display: block;
        width: 240px;

        #header-search-input {
            width: 240px;
        }
    }

    @include responsiveness.responsive('medium') {
        display: block;
        width: 300px;

        #header-search-input {
            width: 300px;
        }
    }

    .form-button-container {
        display: inline;
    }
}

.menu#user-menu {
    color: variables.$text-color;
    border-top: none;
    top: variables.$header-height;
    border-radius: 0 0 8px 8px;
    min-width: 250px;

    .user-menu-intro {
        padding: variables.$menu-item-padding;

        display: flex;
        align-items: center;
        gap: 8px;

        .user-menu-intro-left {
            .profile-picture {
                width: 52px;
                height: 52px;
            }
        }

        .user-menu-intro-right {
            overflow: hidden;

            .user-menu-intro-name {
                font-weight: 600;
                font-size: variables.$font-size-big;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .user-menu-intro-stat {
                font-size: variables.$font-size-small;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.menu#login-menu {
    color: variables.$text-color;
    border-top: none;
    top: variables.$header-height;
    border-radius: 0 0 8px 8px;
    min-width: 340px;
    padding: 1em;
}

.header-button {
    display: flex;
    /* stupid hack */
    margin-right: 0.25rem;

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0.25rem;
    }
}


.subheader-container {
    background: variables.$subheader-background;
    border-bottom: 1px variables.$header-border;
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;

    .subheader {
        margin: auto;
        display: flex;
        align-items: center;
        gap: 0.5em;
        @include responsiveness.maxwidths();
    }
}