.header {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include responsive('tiny') {
            margin: 0 1rem;
            width: 100%;
        }

        @include responsive('small') {
            margin: 0 1rem;
            width: 100%;
        }

        @include responsive('medium') {
            margin: auto;
            @include maxwidths();
        }

        /*
        .header-button {
            @include responsive('tiny') {
                display: block;
            }

            @include responsive('small') {
                display: block;
            }

            @include responsive('medium') {
                display: none;
            }
        }
        */

        .header-hidden-links {
            margin-right: 0.5em;

            @include responsive('tiny') {
                display: none;
            }

            @include responsive('small') {
                display: none;
            }

            @include responsive('medium') {
                display: flex;
            }
        }
    }

    position: sticky;
    top: 0;
    z-index: 2000;

    width: 100%;

    background: $header-background;
    border-bottom: 1px solid $header-border;

    height: $header-height;
    display: flex;

    @if $theme =="default" {
        box-shadow: 0 1px 10px rgba(black, 0.05);
    }
}

.header-main-links {
    gap: 1em;
    align-items: center;

    @include responsive('tiny') {
        display: none;
    }

    @include responsive('small') {
        display: none;
    }

    @include responsive('medium') {
        display: flex;
    }
}

.header-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-links {
    display: flex;
    align-items: center;

    .user-menu-container {
        direction: rtl;

        [dir="rtl"] & {
            direction: ltr;
        }

        .user-menu-button {
            height: $header-height;
            padding: 0 8px;
            direction: ltr;
            display: flex;
            align-items: center;

            .icon:not(.menu-caret) {
                width: 24px;
                height: 24px;
                background-size: 24px;
            }

            &:hover,
            &.selected {
                cursor: pointer;
            }

            &:hover {
                @include bar-button-hover;
            }

            &:active,
            &.selected {
                @include bar-button-active;
            }

            .user-menu-pfp {
                width: $header-pfp-width;
                height: $header-pfp-width;
            }

            .user-menu-caret-container {
                display: inline-block;
                opacity: 0.75;
                width: 16px;
                height: 16px;
            }

            .have-an-account {
                @include responsive('tiny') {
                    display: none;
                }

                @include responsive('small') {
                    display: inline;
                }

                @include responsive('medium') {
                    display: inline;
                }

                margin-right: 0.5ch;
            }
        }
    }
}

.header-logo {
    margin-right: 0.6rem;

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0.6rem;
    }

    a {
        display: block;
        height: $header-logo-height;

        &:focus {
            outline: none;
        }
    }

    .logo {
        height: $header-logo-height;
    }
}

.header-search {
    position: relative;
    display: none;

    #header-search-button {
        position: absolute;
        right: 0;
        top: 1px;
        /* stupid hack */

        [dir="rtl"] & {
            right: auto;
            left: 0;
        }

        background: none;
        border: none;

        @if $color-scheme =="dark" {
            color: white;
        }

        .icon.search {
            width: 16px;
            height: 16px;
            background-size: 16px;
        }

        height: 32px;
        width: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    #header-search-input {
        padding: 6px 8px;
        height: 32px;

        &:focus {
            border-color: var(--link-color);
        }
    }

    @include responsive('tiny') {
        display: block;
        max-width: 130px;

        #header-search-input {
            max-width: 125px;
        }
    }

    @include responsive('small') {
        display: block;
        max-width: 240px;

        #header-search-input {
            max-width: 220px;
        }
    }

    @include responsive('medium') {
        display: block;
        max-width: 340px;

        #header-search-input {
            max-width: 320px;
            width: 320px; // Shitty Hack
        }
    }

    .form-button-container {
        display: inline;
    }
}

.menulink {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: $header-link-color;
    opacity: $header-link-inactive-opacity;
    height: $header-height;
    padding: 0 0.5em;

    @if $color-scheme =="dark" {
        text-shadow: 0 1px 0 rgba(black, 0.25);
    }

    &:hover {
        opacity: $header-link-active-opacity;
        text-decoration: none;
        background: $header-link-hover;
    }

    &:active {
        opacity: $header-link-active-opacity;
        text-decoration: none;
        background: $header-link-active;
    }

    .icon {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }

    &.hide-small {
        display: none;

        @include responsive('tiny') {
            display: none;
        }

        @include responsive('small') {
            display: flex;
        }

        @include responsive('medium') {
            display: flex;
        }
    }

    &.username {
        display: none;

        @include responsive('medium') {
            display: inline;
        }
    }
}

.menu#user-menu {
    border-top: none;
    top: $header-height;
    border-radius: 0 0 8px 8px;
    min-width: 250px;

    .user-menu-intro {
        padding: $menu-item-padding;

        display: flex;
        align-items: center;
        gap: 8px;

        .user-menu-intro-left {
            .profile-picture {
                width: 52px;
                height: 52px;
            }
        }

        .user-menu-intro-right {
            overflow: hidden;

            .user-menu-intro-name {
                font-weight: 600;
                font-size: 1.1em;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .user-menu-intro-stat {
                font-size: 0.9em;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.menu#login-menu {
    border-top: none;
    top: $header-height;
    border-radius: 0 0 8px 8px;
    min-width: 300px;
    padding: 1em;
}

.header-button {
    display: flex;
    /* stupid hack */
    margin-right: 0.25rem;

    [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0.25rem;
    }
}