// yes starting with dart-sass 1.79/1.80 shits getting deprecated!

@use "sass:color";

//@import url("https://rsms.me/inter/inter.css");

// caveat is used by the "its free!" text on logged out jumbotron
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import 'normalize';
@import 'variables';

@import 'mixins/bar_buttons';
@import 'mixins/responsiveness';
@import 'mixins/scrollbar';

@function contrast-color($color, $dark, $light) {
    @return if(color.channel($color, "lightness", $space: hsl) < $threshold, $light, $dark)
}

@import 'icons';

@import 'page';
@import 'grid_system';

// misc unorganized shit
:root {
    font-family: $font;
    --link-color: #{$link-color};

    @each $color, $value in $color-map {
        --#{$color}: #{$value};
    }
}

@if $theme =="flat" {
    @supports (font-variation-settings: normal) {
        :root {
            font-family: InterVariable, sans-serif;
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: $bg-color;
    color: $text-color;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
        text-decoration: underline;
    }
}

img {
    border: 0;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

h6 {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
}

.bold {
    font-weight: 500;
}

code {
    color: #a33a3a;
    background-color: #ffe8e8;
    border: 1px solid #eed1d1;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    color: #a33a3a;
    background-color: #ffe8e8;
    border: 1px solid #eed1d1;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0;
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre-wrap;
}

blockquote {
    margin: 0 0 0.5em 0;
    padding-left: 0.8em;
    border-left: 4px solid $content-box-border-color;
}

.profile-picture {
    display: block;
    position: relative;
    overflow: clip;

    @if $theme =="default" {
        @if $color-scheme =="dark" {
            border: 1px solid #888;
        }

        @else {
            border: 1px solid #252525;
        }

        background: linear-gradient(#111, #050505);
        border-radius: 4px;
    }

    @else {
        border-radius: 50%;
    }

    .pfp {
        width: auto;
        height: 100%;

        // a fix for legacy poktube profile pictures that aren't 1:1
        aspect-ratio: 1 / 1;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $content-box-border-color;
    height: 0;
    margin: 1em 0;
}

.flex {
    display: flex;
}

.emoji {
    display: inline;
    width: 24px;
    vertical-align: middle;
}

.debug-dialog {
    width: 800px;

    .tabcontent {
        @include scrollbar();
        height: 400px;
    }
}

.report-dialog {
    width: 440px;
}

dialog {
    z-index: 50000;
    color: $text-color;
}

::backdrop {
    background: black;
    opacity: 0.6;
}

.userlink-container {
    display: inline-flex;
    text-wrap: auto;
    flex-wrap: wrap;

    // ok so if the userlink is in a "small content entry" then center that shit.
    .content-entry-small & {
        text-align: center;
        justify-content: center;
    }

    .userlink {
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: 0.5ch;
        align-items: center;

        .userlink-handle {
            color: $text-color;
            opacity: 50%;
            text-decoration: none;
        }
    }
}

ul.unstyled-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

// #stars-mask is defined in _layout.twig
// background: linear-gradient(to right, var(--warning) 66%, var(--secondary) 66%);
.star-rating-container {
    mask: url(#stars-mask);
    -webkit-mask: url(#stars-mask);
    height: 16px;
    width: 80px;
}

//awkward clr overrides
.clr-picker {
    background-color: $content-box-background-color !important;
    border: 1px solid $content-box-border-color;
    box-shadow: 0 2px 5px rgba(black, 0.1) !important;
    border-radius: 8px;

    input.clr-color {
        background-color: $form-bg-color !important;
        color: $form-text-color !important;
        border: 1px solid $form-border-color !important;
        border-radius: 6px;

        &:focus {
            border-color: var(--link-color) !important;
        }
    }
}

@import 'header';
@import 'footer';
@import 'forms';
@import 'content_box';
@import 'banner';
@import 'comments';
@import 'sections';
@import 'buttons';
@import 'jumbotron';
@import 'menus';
@import 'tabs';
@import 'table';
@import 'pagination';
@import 'sidebar';
@import 'text';
@import 'navigation_bar';

@import 'watch_page';
@import 'profile_page';
@import 'notice_page';
@import 'login_register_page';
@import 'version_page';
@import 'setting_page';
@import 'change_theme_page';
@import 'admin_page';

// goanna fixes
.goanna {
    dialog {
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}