@use 'sass:math';

.jumbotron {
    &.page-banner {
        @if $color-scheme == "dark" {
            background: #191919 var(--jumbotron) center;
        }

        @else {
            background: #0069B4 var(--jumbotron) center;
            color: white;
        }

        background-size: cover;

        @if $theme == "default" {
            text-shadow: 0 0.1em 0.25em rgba(black, 0.75);
        }

        border-bottom: 1px solid $content-box-border-color;

        h1,
        p {
            margin: 0;
        }

        h1 {
            font-size: 1.33rem;

            @include responsive('tiny') {
                font-size: 1rem;
            }

            @include responsive('small') {
                font-size: 1.25rem;
            }

            @include responsive('medium') {
                font-size: 1.33rem;
            }
        }

        &.homepage {
            padding: 0;

            .jumbotron-container {
                &.homepage-logged-in {
                    height: 100px;

                    .jumbotron-welcome {
                        display: flex;
                        align-items: center;
                        gap: 1em;

                        .profile-picture {
                            @include responsive('tiny') {
                                width: 48px;
                                height: 48px;
                            }

                            @include responsive('small') {
                                width: 64px;
                                height: 64px;
                            }

                            @include responsive('medium') {
                                width: 72px;
                                height: 72px;
                            }
                        }
                    }
                }

                &.homepage-logged-out {
                    height: 120px;

                    .jumbotron-welcome {
                        .jumbotron-slogan {
                            line-height: 1.5em;

                            q {
                                font-style: italic;
                                font-synthesis: none; // fix emojis/unicode symbols
                            }
                        }

                        .jumbotron-get-started {
                            @include responsive('tiny') {
                                display: none;
                            }

                            @include responsive('small') {
                                display: flex;
                                align-items: center; // looks FUCKED with center
                                gap: 0.65em;
                            }

                            @include responsive('medium') {
                                display: flex;
                                align-items: center; // looks FUCKED with center
                                gap: 0.65em;
                            }

                            span {
                                font-family: "Caveat", cursive, sans-serif;
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }

        .jumbotron-welcome {
            flex-grow: 1;
            line-height: 2.5em;
        }
    }

    &.profile-banner {
        @include responsive('tiny') {
            background: #111 center no-repeat;
            background-size: cover;
            height: 100px;
        }

        @include responsive('small') {
            background: #111 center no-repeat;
            background-size: cover;
            height: 200px;
        }

        @include responsive('medium') {
            background: #111 center no-repeat;
            height: 300px;
        }

        @include responsive('large') {
            background: #111 center no-repeat;
            height: 300px;
        }

        .jumbotron-container {
            padding-top: $header-height;
        }

        &.sidebar-active {
            @include responsive('medium') {
                background-position-x: calc(50% + math.div($sidebar-width-medium, 2));
            }

            @include responsive('large') {
                background-position-x: calc(50% + math.div($sidebar-width-large, 2));
            }
        }
    }

    .jumbotron-container {
        /* duplicate of the page class */
        display: flex;
        align-items: center;
        margin: auto;
        @include maxwidths();
    }

    .jumbotron-right-container {
        text-align: right;
        height: inherit;
        display: flex;

        @include responsive('tiny') {
            flex-direction: column-reverse;
            justify-content: space-between;
        }

        @include responsive('small') {
            flex-direction: column-reverse;
            justify-content: space-between;
        }

        @include responsive('medium') {
            flex-direction: column;
            justify-content: space-between;
        }

        .jumbotron-right-date {
            margin-top: 0.5rem;
            font-weight: normal;

            @include responsive('tiny') {
                display: none;
            }

            @include responsive('small') {
                display: none;
            }

            @include responsive('medium') {
                display: inline;
            }
        }
    }
}