body.login {
    background: #333 var(--background);
    background-size: cover;
    background-position: center;

    .page {
        display: flex;
        align-items: center;
        height: calc(100vh - $header-height);
        justify-content: center;
        padding: 0 5em;

        .page-login {
            width: 500px;
        }
    }

    .section-header {
        color: white;

        @if $theme == "default" {
            text-shadow: 0 0.1em 0.25em rgba(black, 0.75);
        }
    }
}

.login-text {
    font-size: $font-size-small;

    &.login-footer {
        margin: 0.8em 0 0 0;
        font-size: $font-size-small;
        text-align: center;
        text-shadow: 0 0.1em 0.25em rgba(black, 0.75);
        color: white;

        a {
            color: white;
        }
    }
}

.login-bottom {
    @include responsive('tiny') {
        display: block;

        .login-text {
            margin: 1em 0;
        }
    }

    @include responsive('medium') {
        display: flex;
        align-items: center;

        .login-text {
            margin: 0;
            width: 100%;
        }
    }
}

// modified duplicate of col-version
.col-login-info {
    display: flex;
    height: 100%;

    @include responsive('tiny') {
        flex-direction: column-reverse;

        border-top: 1px solid $content-box-border-color;
        border-left: 0;
        padding-left: 0;
        margin-top: 1em;
    }

    @include responsive('medium') {
        flex-direction: column;

        border-top: 0;
        border-left: 1px solid $content-box-border-color;
        padding-left: 2em;
        margin-top: 0;
    }
}

.login-currently-logged-in {
    display: flex;
    gap: 1em;
    align-items: center;

    .login-currently-logged-in-text {
        //margin-bottom: 1em;
    }

    .login-currently-logged-in-other-accs {
        font-size: $font-size-small;
    }

    .login-pfp {
        width: 50px;
        height: 50px;

        .profile-picture {
            width: 50px;
            height: 50px;
        }
    }
}