.menu {
    display: none;
    position: absolute;
    background-color: $content-box-background-color;
    border: 1px solid $content-box-border-color;
    padding: 3px 0;
    min-width: 100px;
    z-index: 1999;
    width: 12rem;
    box-shadow: 0 2px 5px rgba(black, 0.1);
    font-weight: normal;

    // hardcode text alignment and direction to left for header menus
    text-align: left;
    direction: ltr;

    [dir="rtl"] & {
        text-align: right;
        direction: rtl;
    }

    hr {
        border-color: $content-box-border-color;
        margin: 0;
    }

    .menu-item-button {
        display: flex;
        align-items: center;
        text-align: left;
        padding: $menu-item-padding;
        color: rgba($text-color, $header-link-inactive-opacity);
        gap: 5px;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.small {
            font-size: 0.9em;
        }

        &:hover {
            background: $header-link-hover;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;
        }

        &:active {
            background: $header-link-active;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;
        }

        .menu-item-profile-picture {
            width: 24px;
            height: 24px;
            min-width: 24px; // webkit shit
        }
    }
}

.menu-button {
    .menu-caret-container {
        display: inline-block;
        opacity: 0.75;
        width: 16px;
        height: 16px;
    }
}

.menu-upload-edit {
    min-width: 100px;
}