@use "sass:color";

// TODO: make hovering consistent with those of buttons

.pagination {
    /* because pagination looks weird with normal buttons */
    margin: 1em auto auto;
    display: flex;
    justify-content: center;

    .pagination-item {
        display: inline-block;
        padding: 4px 12px;
        border: 1px solid $content-box-border-color;
        border-right: none;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-right: 1px solid $content-box-border-color;
            border-radius: 0 4px 4px 0;
        }

        background: $content-box-background-color;

        &:is(a) {
            color: $accent;

            &:hover {
                text-decoration: none;
                background-color: color.adjust($content-box-background-color, $lightness: if(lightness($content-box-background-color) > 50%, -5%, 5%));
            }

            &:active {
                background-color: color.adjust($content-box-background-color, $lightness: if(lightness($content-box-background-color) > 50%, -10%, 10%));
            }
        }

        &.current {
            $border-color: color.adjust(color.adjust($accent, $lightness: -7.5%), $hue: 2deg);

            @if $color-scheme == "dark" {
                $border-color: color.adjust(color.adjust($accent, $lightness: 10%), $hue: 4deg);
            }

            background: $accent;
            border: 1px solid $border-color;
            border-right: none;
            color: white;
            text-shadow: 0 -1px 0 rgba(black, 0.4);

            &:last-child {
                border-right: $border-color;
            }
        }

        &.ellipsis {
            // shit but whatever (opacity would fuck this up)
            color: color.adjust($content-box-background-color, $lightness: if(lightness($content-box-background-color) > 50%, -40%, 40%));
        }
    }
}