.post {
    margin: 1em 0;
    display: flex;
    gap: 0.8em;

    border-bottom: 1px solid $content-box-border-color;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    .profile-picture {
        width: 48px;
        height: 48px;
    }

    .post-body {
        flex: 1;

        .post-author {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25em;
            
            .post-timestamp {
                color: $text-color;
                opacity: 50%;
                font-size: 0.8em;
            }
        }

        .post-contents {
            //margin-top: 0.25em;

            p {
                margin: 0.25em 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .post-actions {
            display: flex;
            gap: 0.5em;
        }
    }
}

.replies {
    border-left: 1px solid $content-box-border-color;
    padding-left: 1em;
    margin-top: 1em;

    .post,
    .reply-form {
        border: none;

        .profile-picture {
            width: 32px;
            height: 32px;
        }
    }
}

.new-post,
.reply-form {
    display: flex;
    gap: 0.8em;

    &:not(:only-child) {
        &:not(:only-of-type) {
            padding-bottom: 1em;
            border-bottom: 1px solid $content-box-border-color;
        }

        // hide if
        // * this is the only child
        // * if the only other child is .section-header
        &:first-child:nth-last-child(2),
        &:last-child:nth-child(2) {
            &:not(:has(~ :not(.section-header))) {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .profile-picture {
        width: 48px;
        height: 48px;
    }

    /*
    #post_post_button,
    .submit-reply-button {
        margin-left: auto;
        display: block;
    }
    */
}

.reply-form {
    margin-top: 1em;
}

.action-button {
    font-size: 0.8em;
    cursor: pointer;
}

#new-comment-form {
    display: none;
}

#new-post-form,
#new-comment-form,
.new-reply-form {
    flex: 1;
}

.new-post-bottom {
    display: flex;
    margin-bottom: 0.5em;
}

.post-form-error {
    flex-grow: 1;
}

#new-comment-button, #new-post-button {
    background: $form-bg-color;
    color: $form-text-color;
    border: 1px solid $form-border-color;
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;

    flex: 1; // webkit hack
}

.new-post-buttons {
    display: flex;
    gap: 0.2em;
}