@use 'sass:math';

.container.has-profile-banner {
    &.user,
    &.read {
        @include responsive('tiny') {
            margin-top: -1.25rem;
        }

        @include responsive('small') {
            margin-top: -2.5rem;
        }

        @include responsive('medium') {
            margin-top: -5rem;
        }

        @include responsive('large') {
            margin-top: -5rem;
        }
    }
}

// add margin to make it feel more right.
.container {
    &.user,
    &.read {
        margin-top: 1em;
    }
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 0.75em;

    &.centered {
        text-align: center
    }

    h1 {
        margin: 0;
        font-size: 14px;
    }

    .profile-box-pfp {
        width: $pfp-width-profiles;
        height: $pfp-width-profiles;

        &.small {
            width: math.div($pfp-width-profiles, 1.5);
            height: math.div($pfp-width-profiles, 1.5);

            .profile-picture {
                width: math.div($pfp-width-profiles, 1.5);
                height: math.div($pfp-width-profiles, 1.5);
            }
        }

        .profile-picture {
            width: $pfp-width-profiles;
            height: $pfp-width-profiles;
        }
    }

    .profile-box-info {
        width: 100%;

        .profile-box-username {
            display: flex;
            gap: 0.25em;
            align-items: center;
            font-size: 1.1em;
            font-weight: 500;
        }
    }
}

// somewhat awkward fixes
.profile-about {
    p {
        &:first-of-type {
            margin-top: 0%;
        }

        &:last-of-type {
            margin-bottom: 0em;
        }
    }

    hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.profile-details {
    hr {
        margin: 0.5em 0;
    }

    .profile-details-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .detail-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $content-box-border-color;
            padding: 0.5em 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        .detail-label {
            //font-weight: bold;
        }

        .detail-value {
            text-align: right;
            //font-weight: 400;
        }
    }
}