@use "variables";

#settings-banner-preview {
    background: #111 center no-repeat;
    border: 1px solid variables.$content-box-border-color;
    padding: variables.$content-box-padding;
    height: 300px;
    display: flex;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}