@use "sass:color";

.tabcontent {
    display: none;
}

.tabs {
    border-bottom: 1px solid $content-box-border-color;
    display: flex;

    &.homepage {
        justify-content: flex-end;
        border-bottom: none;

        .tablink {
            color: white;
            padding: 2px 4px;
            display: flex;

            &:hover {
                @if $color-scheme =="dark" {
                    background-color: rgba(color.adjust($bg-color, $lightness: 2.5%), 25%);
                }

                @else {
                    background-color: rgba(color.adjust($bg-color, $lightness: -3.5%), 25%);
                }
            }

            &:active {
                background-color: rgba($bg-color, 50%);
            }

            &.active {
                color: $text-color;
                background-color: $bg-color;
            }
        }
    }
}

.tablink {
    font-family: $font;
    cursor: pointer;
    background-color: #fff0;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    color: var(--link-color);
    display: inline-block;
    border: 1px solid #0000;
    text-align: center;

    @include responsive('tiny') {
        padding: 6px 0;
        flex: 1;
    }

    @include responsive('small') {
        padding: 6px 16px;
        flex: none;
    }

    @include responsive('medium') {
        padding: 6px 16px;
        flex: none;
    }

    &:hover {
        background-color: color.adjust($bg-color, $lightness: if(lightness($bg-color) > 50%, -5%, 5%));
        text-decoration: none;
    }

    &:active {
        background-color: color.adjust($bg-color, $lightness: if(lightness($bg-color) > 50%, -10%, 10%));
    }

    &.active {
        background-color: $content-box-background-color;
        border: 1px solid $content-box-border-color;
        border-bottom: 1px solid #fff0;

        @if $color-scheme =="dark" {
            color: white;
        }

        @else {
            color: black;
        }

        font-weight: bold;
    }

    &:focus {
        outline: none;
    }
}