@use "sass:color";

table.styled {
    width: 100%;
    border: 1px solid $content-box-border-color;
    border-spacing: 0;
    border-collapse: collapse;

    tbody {
        margin: 0;
    }

    tr {
        border: 1px solid $content-box-border-color;
        background: $content-box-background-color;

        &.table-header {
            @if $theme == "default" {
                background: color.adjust($content-box-border-color, $lightness: 5%);
                background-image: linear-gradient(color.adjust($content-box-border-color, $lightness: 7.5%),
                        color.adjust($content-box-border-color, $lightness: 2.5%));
            }

            @else {
                background: color.adjust($content-box-border-color, $lightness: 5%);
            }

            th {
                padding: 0.2rem 0.3rem;
                text-align: left;
                border: 1px solid $content-box-border-color;
                font-weight: 500;
            }
        }
    }

    td {
        border: 1px solid $content-box-border-color;
        padding: 0.3rem;
    }
}