@use 'config' as *;

@use "mixins/responsiveness";
@use "variables";

@use "sass:color";

.tabcontent {
    display: none;
}

.tabs {
    border-bottom: 1px solid variables.$content-box-border-color;
    display: flex;
}

.tablink {
    font-family: variables.$font;
    cursor: pointer;
    background-color: #fff0;
    margin-bottom: -1px;
    border-radius: variables.$content-box-border-radius variables.$content-box-border-radius 0 0;
    color: var(--link-color);
    display: inline-block;
    border: 1px solid #0000;
    text-align: center;

    @include responsiveness.responsive('tiny') {
        padding: 6px 0;
        flex: 1;
    }

    @include responsiveness.responsive('small') {
        padding: 6px 16px;
        flex: none;
        &.has-icon {
            padding: 4.5px 14px 4.5px 12px
        }
    }

    @include responsiveness.responsive('medium') {
        padding: 6px 16px;
        flex: none;
        &.has-icon {
            padding: 4.5px 14px 4.5px 12px
        }
    }

    &.has-icon {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &:hover {
        background-color: color.adjust(variables.$bg-color, $lightness: if(color.lightness(variables.$bg-color) > 50%, -5%, 5%));
        text-decoration: none;
    }

    &:active {
        background-color: color.adjust(variables.$bg-color, $lightness: if(color.lightness(variables.$bg-color) > 50%, -10%, 10%));
    }

    &.active {
        background-color: variables.$content-box-background-color;
        border: 1px solid variables.$content-box-border-color;
        border-bottom: none;

        @if $color-scheme == "dark" {
            color: white;
        }

        @else {
            color: black;
        }

        @if $theme != "flat" {
            font-weight: 700;
        }
    }

    &:focus {
        outline: none;
    }
}