
.tooltip {
    position: fixed;
    padding: 4px 8px;
    font-size: 0.8em;
    border-radius: 4px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10001;
    opacity: 0;
    transition: opacity .2s ease-out;

    @if $theme == "default" {
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        background: linear-gradient(#555, #222);
    } @else if $theme == "flat" {
        background: #222;
    }

    color: #fff;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #222;
    }
}
