$threshold: 50%; // contrast threshold

// font sizes
$font-size-huge: 20px;
$font-size-bigger: 16px;
$font-size-big: 15px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-smaller: 11px;

//html header sizes
$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 11px;

@if $theme == "flat" {
    $font-size-huge: 1.5em;
    $font-size-bigger: 1.25em;
    $font-size-big: 1.1em;
    $font-size-normal: 1em;
    $font-size-small: 0.9em;
    $font-size-smaller: 0.8em;

    $font-size-h1: 1.5em;
    $font-size-h2: 1.25em;
    $font-size-h3: 1em;
    $font-size-h4: 0.875em;
    $font-size-h5: 0.75em;
    $font-size-h6: 0.625em;
}

// basic colors
$text-color: black;
$link-color: #0069B4; // #006FFF;
$bg-color: #F2F2F2;
$header-link-color: black;

@if $theme == "flat" {
    $bg-color: #FFFFFF;
    $text-color: #2C2F32;
    $link-color: #0087FE;
}

@if $color-scheme == "dark" {
    $text-color: white;
    $link-color: #2d89e8;
    $bg-color: #050505;
    $header-link-color: white;

    @if $theme == "flat" {
        $bg-color: #010103;
    }
}

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: #E0E0E0;

@if $theme == "flat" {
    $content-box-border-color: #E2E5E7;
}

@if $color-scheme == "dark" {
    $content-box-background-color: #010101;
    $content-box-border-color: #222222;

    @if $theme == "flat" {
        $content-box-background-color: #010103;
        $content-box-border-color: #151a25;
    }
}

$content-box-padding: 1em;
$content-box-border-radius: 4px;

@if $theme == "flat" {
    $content-box-border-radius: 0.5em;
}

// content box grid entries
$content-box-grid-entry-height: 220px;
$content-box-grid-entry-width: 135px;

// component colors
$accent: #0069B4;
$secondary: $content-box-border-color;
$green: #00A651;
$red: #CB122E;
$yellow: #FFBB00;

@if $theme == "flat" {
    $accent: #2C2F32;
    $secondary: $content-box-border-color;
    $green: #00A651;
    $red: #E62845;
    $yellow: #FFC900;
}

$color-map: (
    "accent": $accent,
    "secondary": $content-box-border-color,
    "success": $green,
    "danger": $red,
    "warning": $yellow,
);

// header/sidebar
//$header-background: $content-box-background-color;

$header-background: linear-gradient(to bottom, #FFFFFF, #F8F8F8);
$header-border: $content-box-border-color;

$header-link-hover: rgba($header-link-color, 0.05);
$header-link-active: rgba($header-link-color, 0.1);
$header-link-inactive-opacity: 0.75;
$header-link-active-opacity: 1; // includes hover

@if $color-scheme == "dark" {
    $header-background: linear-gradient(to bottom, #111, #070707);
}

@if $theme == "flat" {
    $header-background: $content-box-background-color;
    $header-border: $content-box-border-color;
}

// forms
$form-bg-color: $content-box-background-color;
$form-text-color: $text-color;
$form-border-color: $content-box-border-color;

// fonts
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@if $theme == "flat" {
    $font: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// breakpoints
$breakpoints: (
    "tiny": 0px,
    "small": 768px,
    "medium": 1024px,
    "large": 1280px,
    "xlarge": 1366px,
    "huge": 1600px,
);

// header
$header-height: 48px;
$header-logo-height: 32px;
$header-pfp-width: 32px;

// profile
$pfp-width-profiles: 64px;

// menus
$menu-item-padding: 0.5em 1em;

// sidebar
$sidebar-width-medium: 180px;
$sidebar-width-large: 240px;