@function min-width-for($size) {
  $width: map-get($breakpoints, $size);
  @return '(min-width: #{$width})';
}

@mixin responsive($size) {
  @media #{min-width-for($size)} {
    @content;
  }
}

@mixin maxwidths() {
  width: 100%;
  margin-inline: auto;

  padding: 0 1em;

  @include responsive('tiny') {
    max-width: 95%;
  }

  @include responsive('small') {
    max-width: 752px;
    padding: 0;
  }

  @include responsive('medium') {
    max-width: 960px;
  }

  @include responsive('large') {
    max-width: 1152px;
  }

  @include responsive('xlarge') {
    max-width: 1280px;
  }

  @include responsive('huge') {
    max-width: 1440px;
  }
}