@use "../variables";

@use "sass:color";

@mixin scrollbar() {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        scrollbar-color: color.adjust(variables.$content-box-border-color, $lightness: -15%) variables.$content-box-border-color;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            display: block;
        }
    }

    overflow-y: auto;
}